<form action="/" method="post">
<label for="name">Choisir l'utilisateur:</label>
	<select name="log[name]" id="name">
		<option value="Mathieu">Mathieu</option>
		<option value="Édouard">Édouard</option>
		<option value="Invité">Invité</option>
	</select>
	<input type="text" name="log[body]" placeholder="Votre Log"/>
	<input type="submit"/>
</form>

<h2>Vos logs</h2>
<% @logs.each do |log| %>

  <div class="<%= "panel" + " " + color(log.name) %>" >
  <div class="panel-heading"><h4><%= log.name %></h4></div>
  <div class="panel-body">
  	<div class="row">
  	  <div class="col-xs-9 col-xs-offset-1">
	 	 <%= log.body %>
	  </div>

	  <div class="col-xs-1 col-sxs-offset-1">
	  	<div class="btn-group-vertical btn-group-sm">
	  	
	  		<form action="/edit" method="post">
	  			<input type="hidden" name="id" value="<%= log.body %>"/>
			  		<button type="submit" class="btn btn-success">
			  			<span class="glyphicon glyphicon-pencil"></span>
			  		</button>
		  	</form>


	  		<form action="/delete" method="post">
	  			<input type="hidden" name="id" value="<%= log.id %>"/>
	  				<button type="submit" class="btn btn-danger">
	  					<span class="glyphicon glyphicon-remove"></span>
	  				</button>
	  		</form>

	  	</div><!--/btn-group-->
	  </div><!--/col-xs-2-->

  	</div><!--/row-->
  </div><!--/panel-body-->
  </div><!--/panel-->

<% end %>
